@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#929195;
  background-image: 
    radial-gradient(at 0% 0%, rgb(99, 99, 102) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(122, 138, 188) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(169, 50, 92) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
  radial-gradient(at 90% 64%, hsla(135,83%,63%,1) 0px, transparent 50%),
  radial-gradient(at 39% 61%, hsla(254,96%,76%,1) 0px, transparent 50%),
  radial-gradient(at 18% 63%, hsla(309,71%,60%,1) 0px, transparent 50%),
  radial-gradient(at 65% 85%, hsla(5,94%,62%,1) 0px, transparent 50%),
  radial-gradient(at 75% 83%, hsla(34,61%,79%,1) 0px, transparent 50%),
  radial-gradient(at 11% 89%, hsla(95,84%,63%,1) 0px, transparent 50%),
  radial-gradient(at 43% 5%, hsla(231,83%,65%,1) 0px, transparent 50%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;